<!-- End Navbar -->
{% extends "acclayout.html" %} {% block head_css %} {{ super() }} {% endblock
head_css %} {% block content %}
<div class="panel-header panel-header-sm"></div>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Company</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Company"
                    value="Rezerva.com"
                  />
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    value="doncurt04"
                  />
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email"
                    value="doncurt04@bbk.ac.uk"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="First Name"
                    value="Don"
                  />
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Last Name"
                    value="Curtis"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Address"
                    value="88 Bld Mihail Kogalniceanu"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="City"
                    value="London"
                  />
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Country"
                    value="United Kingdom"
                  />
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input
                    type="number"
                    class="form-control"
                    placeholder="SE7 9PTZ"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <textarea
                    rows="4"
                    cols="80"
                    class="form-control"
                    placeholder="Brief description"
                    value="about you or your business"
                  >
Our place is a safer, welcoming and affordable place to stay.</textarea
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img
            src="{{ url_for('static', filename='udash/assets/img/bg5.jpg')}}"
            alt="..."
          />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray"
                src="{{ url_for('static', filename='udash/assets/img/default.jpg')}}"
                alt="..."
              />
              <h5 class="title">Don Curtis</h5>
            </a>
            <p class="description">doncurt04</p>
          </div>
          <p class="description text-center">
            Our place is a safer,<br />
            welcoming and affordable <br />
            place to stay. 100% satisfaction.
          </p>
        </div>
        <hr />
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
