{% extends "base.html" %} {% block head_css %} {{ super() }} {% endblock %} {%
block content %}

<!-- Page Title -->
<div class="page-title light-background">
  <div class="container d-lg-flex justify-content-between align-items-center">
    <h1 class="mb-2 mb-lg-0">Booking Summary</h1>
    <nav class="breadcrumbs">
      <ol>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li class="current">Booking summary</li>
      </ol>
    </nav>
  </div>
</div>
<!-- End Page Title -->

<!-- Booking summary Section -->
<section id="contact" class="contact section">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <!--HOST & GUEST INFO BOX-------------------------------------------->
    <div class="row g-4 mb-3" data-aos="fade-up" data-aos-delay="300">
      <div class="col-md-6">
        <div class="contact-info-card">
          <div class="icon-box">
            <i class="bi bi-person-check"></i>
          </div>
          <div class="info-content">
            <h4>Host</h4>
            <p>{{ room.user.first_name }} {{ room.user.last_name }}</p>
            <p>Email: {{ room.user.email }}</p>
            <p>Phone: {{ room.user.phone }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="contact-info-card">
          <div class="icon-box">
            <i class="bi bi-person-raised-hand"></i>
          </div>
          <div class="info-content">
            <h4>Primary Guest</h4>
            <p>{{ book.primary_guest }}</p>
            <p>Email: {{ book.pguest_email}}</p>
            <p>Phone: {{ book.pguest_phone}}</p>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------->

    <!----------Payment summary------------>
    <div class="card mb-3">
      <h5 class="card-header">
        Short Room rental | Booking Number: {{ book.booking_num }}
      </h5>
      <div class="card-body">
        <!-- <h5 class="card-title">Room booked</h5> -->
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>
                <div class="d-flex mb-2">
                  <div class="flex-shrink-0">
                    <img
                      src="{{ url_for('static', filename='/userpics/roompics/'+ room.image1 ) }}"
                      alt=""
                      width="38"
                      height="38"
                    />
                  </div>
                  <div class="flex-lg-grow-1 ms-3">
                    <h6 class="small mb-0">
                      <span class="text-reset"
                        >{{ room.room_category}} ({{room.room_name}}) located at
                        {{room.room_location}}
                      </span>
                    </h6>
                    <span class="small text-success"
                      >Booked from {{ book.arrival.strftime('%d %B %Y') }} To {{
                      book.departure.strftime('%d %B %Y') }} for
                      <b>{{ ( book.departure - book.arrival).days }} days</b>
                    </span>
                  </div>
                </div>
              </td>
              <td>1</td>
              <td class="text-end">£{{ room.price }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">Subtotal</td>
              <td class="text-end">
                £{{ payment.total_paid - payment.discount }}
              </td>
            </tr>
            <tr>
              <td colspan="2">Service Fee</td>
              <td class="text-end">£{{ book.serv_charge }}</td>
            </tr>

            <tr>
              <td colspan="2">Discount</td>
              <td class="text-danger text-end">-£{{ payment.discount }}</td>
            </tr>

            <tr class="fw-bold">
              <td colspan="2">TOTAL</td>
              <td class="text-end">£{{ payment.total_paid }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!----------------------APPLY VOUCHER-------->
    <!-- <div class="col-md-12 pb-3">
      <div class="contact-info-card">
        <div class="info-content">
          <form method="POST" action="">
            {{ form2.hidden_tag() }} {{ form2.csrf_token }}
            <div class="row g-3">
              <div class="col-md-12">
                <div class="form-group1">
                  {{ form2.code.label(class="form2-control-label") }} {% if
                  form2.code.errors %} {{ form2.code(class="form2-control
                  form2-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form2.code.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form2.code(class="form2-control
                  form2-control-lg") }} {% endif %}
                </div>
                <div class="pt-2 text-end">
                  {{ form2.submit2(class="btn btn-outline-secondary") }}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> -->
    <!-------------------------END APPLY VOUNCHER-->
    <!----CHECKOUT--------------------------------->
    <div class="col-md-12 pb-3">
      <div class="info-content">
        <form method="POST" action="">
          {{ form.hidden_tag() }} {{ form.csrf_token }}
          <div>
            {% for subfield in form.pay_method %}
            <tr>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{ subfield }}</td>
              <td>{{ subfield.label }}&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            {% endfor %}
          </div>
          <hr />
          <div class="form-group1 form-actions text-end">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
    <!------------------------------END CHECKOUT--->
  </div>
</section>
<!-- /Confirmation Section -->
<!-----------------------PAYMENT Options Accordion style----->
<!-- <section class="working-process my-5 mt-1 pt-1">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="row d-flex flex-nowrap flex-row">
        <div class="heading d-flex align-items-center">
          <h4>Payment Process</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="accordion mt-3" id="accordionExample">
        <div class="accordion-item mb-4">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              <span class="accordian-numbers"
                ><i class="bi bi-credit-card pe-2"></i>Credit/Debit Card</span
              >
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
             
              <div class="text-center">
                <h5>Please select your card type:<br /></h5>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio1"
                    value="option1"
                  />
                  <img
                    src="{{ url_for('static', filename='userpics/visa.png') }}"
                    alt="visa card"
                    class="img-fluid"
                    height="20px"
                    width="35px"
                  />
                  <label class="form-check-label" for="inlineRadio1"
                    >Visa</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio2"
                    value="option2"
                  />
                  <img
                    src="{{ url_for('static', filename='userpics/master.png') }}"
                    alt="visa card"
                    class="img-fluid"
                    height="20px"
                    width="35px"
                  />
                  <label class="form-check-label" for="inlineRadio2"
                    >Mastercard</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    id="inlineRadio3"
                    value="option3"
                  />
                  <img
                    src="{{ url_for('static', filename='userpics/amex.png') }}"
                    alt="visa card"
                    class="img-fluid"
                    height="20px"
                    width="35px"
                  />
                  <label class="form-check-label" for="inlineRadio3"
                    >Amex</label
                  >
                </div>
              </div>
              <h5 class="text-center mt-3">
                Please type your selected card information:<br />
              </h5>
              <div
                class="row justify-content-center mb-3"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="col-lg-11">
                  <div class="contact-form-wrapper">
                    <form
                      action="forms/contact.php"
                      method="post"
                      class="php-email-form"
                    >
                      <div class="row g-3">
                        <div class="col-md-3">
                          <div class="form-group1">
                            <label class="mb-1">Name on card</label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              required=""
                            />
                          </div>
                        </div>

                        <div class="col-md-5">
                          <div class="form-group1">
                            <label class="mb-1">Card Number</label>
                            <input
                              type="email"
                              class="form-control"
                              name="email"
                              required=""
                            />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group1">
                            <label class="mb-1">Exp. </label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              required=""
                            />
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group1">
                            <label class="mb-1">CVV</label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              required=""
                            />
                          </div>
                        </div>

                        <div class="form-group1 form-actions text-center">
                          <button type="submit" class="btn btn-primary mt-2">
                            Checkout £{{ (room.price * ( book.departure -
                            book.arrival).days) - 45 }}
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-4">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              <span class="accordian-numbers"
                ><i class="bi bi-paypal pe-2"></i>PayPal
              </span>
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="mb-3">
                <span>Please, select the option before proceeding...</span>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  <img
                    src="{{ url_for('static', filename='userpics/Paypal.png') }}"
                    alt="pay card"
                    class="img-fluid"
                    height="50px"
                    width="65px"
                  />
                  <a href="#"> Paypal payment</a>
                </label>
                <div class="form-group1 form-actions text-center">
                  <button type="submit" class="btn btn-primary mt-2">
                    Checkout £{{ (room.price * ( book.departure -
                    book.arrival).days) - 45 }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item mb-4">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              <span class="accordian-numbers"
                ><i class="bi bi-cash-stack text-body pe-2"></i>Cash On
                Arrival</span
              >
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <div class="mb-3">
                <span>Please, select the option before proceeding...</span>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="flexRadioDefault"
                  id="flexRadioDefault1"
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  <h5><i class="bi bi-cash-stack"></i> Pay Cash on arrival</h5>
                </label>
                <div class="form-group1 form-actions text-center">
                  <button type="submit" class="btn btn-primary mt-2">
                    Checkout £{{ (room.price * ( book.departure -
                    book.arrival).days) - 45 }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

{% endblock content %}
