{% extends "acclayout.html" %} {% block head_css %} {{ super() }} 
<style>
html {
  overflow-y: scroll;
}
</style>
{% endblock
head_css %} {% block content %}
<div class="panel-header panel-header-sm"></div>
<!--Breadcrumb-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item pl-3">
      <a href="{{url_for('users.listings')}}">My Listings</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Room images update</li>
  </ol>
</nav>
<!--End Breadcrumb-->
<!-- <div class="page-wrapper bg-blue p-t-100 p-b-100 pt-3 font-robo"> -->
<div class="content mt-3">
  <div class="card-p card-1">
    <div class="card-heading"></div>
    <div class="card-body">
      <!--Flash alerts-->
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <!----------------->
      <h2 class="title mt-1 text-center">Update Room images</h2>
      <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }} {{ form.csrf_token }}
        <!------------------------UPLOAD IMAGES----------------------------------->
        <div class="mb-3">
          {{ form.pictures.label() }}
          {{ form.pictures(class="form-control-file form-control-sm", multiple=True) }}
          {% if form.pictures.errors %}
              {% for error in form.pictures.errors %}
                <span class="text-danger">{{ error }}</span></br>
              {% endfor %}
          {% endif %}
        </div>
        <!------------------------------------------------------------------------>
        <div class="form-group text-right">
           {{ form.submit(class="btn btn-info mt-3") }}
        </div>
      </form>
    </div>
  </div>
</div>
<!-- </div> -->

{% endblock content %}
