{% extends "acclayout.html" %} {% block head_css %} {{ super() }} {% endblock
head_css %} {% block content %}
<div class="panel-header panel-header-sm"></div>
<div class="content mb-0 pb-0">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="card-header">
          <h4 class="card-title">
            <b
              >Bookings as a Guest&nbsp;<i
                class="now-ui-icons gestures_tap-01"
              ></i
            ></b>
          </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <h6 style="text-transform: capitalize; color: navy">
              Total Guest bookings: {{ bookguest.total }}
            </h6>
            <table class="table">
              <thead class="text-primary">
                <th>From</th>
                <th>To</th>
                <th>Room</th>
                <th>Location</th>
                <th>Price/night</th>
                <th>Host</th>
                <th>Action</th>
              </thead>
              {% for boo in bookguest.items %}
              <tbody>
                <tr>
                  <td>{{ boo.arrival.strftime('%d %B %Y') }}</td>
                  <td>{{ boo.departure.strftime('%d %B %Y') }}</td>
                  <td>{{ boo.rooms.room_name }}</td>
                  <td>{{ boo.rooms.room_location }}</td>
                  <td>£{{ boo.rooms.price }}</td>
                  <td>
                    {{ boo.rooms.user.first_name}} {{ boo.rooms.user.last_name}}
                  </td>
                  {% if boo.departure > today %}
                  <td>
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-success btn-sm dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Action
                      </button>
                      <div class="dropdown-menu">
                        {% if can_cancel(boo.status, boo.arrival) == True %}
                        <form
                          method="POST"
                          action="{{ url_for('rooms.cancel_booking', booking_id=boo.id) }}"
                        >
                          <input
                            type="hidden"
                            name="csrf_token"
                            value="{{ csrf_token() }}"
                          />
                          <button type="submit" class="btn btn-danger btn-sm">
                            Cancel Booking
                          </button>
                        </form>
                        <a href="#" class="dropdown-item pt-0 mt-0"
                          >Contact host</a
                        >
                        {% else %}
                        <a
                          href="{{ url_for('main.contact') }}"
                          class="dropdown-item pt-0 mt-0"
                          >Need help</a
                        >
                        {% endif %}
                      </div>
                    </div>
                  </td>
                  {% elif boo.status == 'Cancelled' %}
                  <td class="text-info"><b> {{ boo.status }}</b></td>
                  {% elif boo.status == 'Pending' %}
                  <td class="text-info"><b> {{ boo.status }}</b></td>
                  {% else %}
                  <td>
                    <a
                      href="{{ url_for('rooms.roomdetail', room_id=boo.rooms.id) }}"
                      style="color: rgb(16, 186, 41)"
                    >
                      Rate your stay
                    </a>
                  </td>
                  {% endif %}
                </tr>
              </tbody>
              {% endfor %}
            </table>
            <!------------------>
            <div class="pagination">
              {% if bookguest.has_prev %}
              <a
                href="{{ url_for('rooms.bookings', guest_page=bookguest.prev_num, host_page=bookhost.page) }}"
              >
                Previous <i class="bi bi-arrow-left-short"></i
              ></a>
              {% endif %}
              <span class="mx-2">
                Page {{ bookguest.page }} of {{ bookguest.pages }}
              </span>
              {% if bookguest.has_next %}
              <a
                href="{{ url_for('rooms.bookings', guest_page=bookguest.next_num, host_page=bookhost.page) }}"
              >
                Next <i class="bi bi-arrow-right-short"></i>
              </a>
              {% endif %}
            </div>
            <!------------------>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------->
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">
              <b
                >Bookings as a Host &nbsp;<i
                  class="now-ui-icons objects_key-25"
                ></i
              ></b>
            </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <h6 style="text-transform: capitalize; color: navy">
                Total Host bookings: {{ bookhost.total }}
              </h6>
              <!-- <p>Current page items: {{ bookhost.items|length }}</p> -->
              <table class="table">
                <thead class="text-primary">
                  <th>Room</th>
                  <th>Location</th>
                  <th>Price</th>
                  <th>Guest</th>
                  <th>From</th>
                  <th>Days</th>
                  <th>Status</th>
                </thead>
                {% for booh in bookhost.items %}
                <tbody>
                  {% if booh.rooms.user.id == current_user.id %}
                  <tr>
                    <td>{{ booh.rooms.room_name }}</td>
                    <td>{{ booh.rooms.room_location }}</td>
                    <td>£{{ booh.rooms.price }}</td>
                    <td>{{ booh.primary_guest }}</td>
                    <td>{{ booh.arrival.strftime('%d %B %Y') }}</td>
                    <td>{{ (booh.departure - booh.arrival).days }}</td>
                    {% if booh.departure > today %}
                    <td>
                      <div class="btn-group">
                        <button
                          type="button"
                          class="btn btn-success btn-sm dropdown-toggle"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          Action
                        </button>
                        <div class="dropdown-menu">
                          {% if can_cancel(booh.status, booh.arrival) == True %}
                          <a href="#" class="dropdown-item pt-0 mt-0"
                            >Accept booking</a
                          >
                          <a href="#" class="dropdown-item pt-0 mt-0"
                            >Contact Guest</a
                          >
                          {% else %}
                          <a
                            href="{{ url_for('main.contact') }}"
                            class="dropdown-item pt-0 mt-0"
                            >Need help</a
                          >
                          {% endif %}
                        </div>
                      </div>
                    </td>
                    {% elif booh.status == 'Cancelled' %}
                    <td class="text-info"><b> {{ booh.status }}</b></td>
                    {% elif booh.status == 'Pending' %}
                    <td class="text-info"><b> {{ booh.status }}</b></td>
                    {% else %}
                    <td>
                      <a
                        href="{{ url_for('rooms.roomdetail', room_id=booh.rooms.id) }}"
                        style="color: rgb(16, 186, 41)"
                      >
                        Rate Guest
                      </a>
                    </td>
                    {% endif %}
                  </tr>
                  {% endif %}
                </tbody>
                {% endfor %}
              </table>
              <!-----------PAGINATION---------->
              <div class="pagination">
                {% if bookhost.has_prev %}
                <a
                  href="{{ url_for('rooms.bookings', guest_page=bookguest.page, host_page=bookhost.prev_num) }}"
                >
                  Previous <i class="now-ui-icons arrows-1_minimal-left"></i
                ></a>
                {% endif %}
                <span class="mx-2">
                  Page {{ bookhost.page }} of {{ bookhost.pages }}
                </span>
                {% if bookhost.has_next %}
                <a
                  href="{{ url_for('rooms.bookings', guest_page=bookguest.page, host_page=bookhost.next_num) }}"
                >
                  Next <i class="now-ui-icons arrows-1_minimal-right"></i>
                </a>
                {% endif %}
              </div>
              <!--------------------->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------->
</div>
{% endblock content %}
