{% extends "acclayout.html" %} {% block head_css %} {{ super() }} {% endblock
head_css %} {% block content %}
<div class="panel-header panel-header-sm"></div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><b>My Bookings</b></h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>From</th>
                <th>To</th>
                <th>Room</th>
                <th>Room type</th>
                <th>Location</th>
                <th class="text-right">Price/night</th>
              </thead>
              {% for boo in booklist %}
              <tbody>
                <tr>
                  <td>{{ boo.arrival.strftime('%d %B %Y') }}</td>
                  <td>{{ boo.departure.strftime('%d %B %Y') }}</td>
                  <td>{{ boo.rooms.room_name }}</td>
                  <td>{{ boo.rooms.room_category }}</td>
                  <td>{{ boo.rooms.room_location }}</td>
                  <td class="text-right">£{{ boo.rooms.price }}</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
