{% extends "acclayout.html" %} {% block head_css %} {{ super() }} {% endblock
head_css %} {% block content %}

<div class="panel-header panel-header-sm"></div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
        <div class="card-header">
          <h4 class="card-title"><b>Room Listings</b></h4>
        </div>

        <!-- Large modal -->
        <div class="text-right pr-3">
          <button
            type="button"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#exampleModal"
            data-whatever="@mdo"
          >
            <h8><b>&#x2b; Add Room</b></h8>
          </button>
          <!--------------------------------->
        </div>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <form method="POST" action="">
                {{ form.hidden_tag() }}
                <!--START FORM FIELDS-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group pl-3 pr-0 mt-2">
                      <label for="formGroupExampleInput1">Room name</label>
                      {{ form.room_name.label(class="form-control-label") }} {%
                      if form.room_name.errors %} {{
                      form.room_name(class="form-control form-control-lg
                      is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.room_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.room_name(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group pl-0 pr-3 mt-2">
                      <label for="formGroupExampleInput2">Room Location</label>
                      {{ form.room_location.label(class="form-control-label") }}
                      {% if form.room_location.errors %} {{
                      form.room_location(class="form-control form-control-lg
                      is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.room_location.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.room_location(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group pl-3 pr-0">
                      <label for="formGroupExampleInput3">Room Price</label>
                      {{ form.price.label(class="form-control-label") }} {% if
                      form.price.errors %} {{ form.price(class="form-control
                      form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.price(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group pl-0 pr-0">
                      <label for="formGroupExampleInput4">Room category</label>
                      {{ form.room_category.label(class="form-control-label") }}
                      {% if form.room_category.errors %} {{
                      form.room_category(class="form-control form-control-lg
                      is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.room_category.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.room_category(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group pl-0 pr-3">
                      <label for="formGroupExampleInput5">Status</label>
                      {{ form.status.label(class="form-control-label") }} {% if
                      form.status.errors %} {{ form.status(class="form-control
                      form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.status.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.status(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group pl-3 pr-0">
                      <label for="formGroupExampleInput6"
                        >Short Description</label
                      >
                      {{ form.short_desc.label(class="form-control-label") }} {%
                      if form.short_desc.errors %} {{
                      form.short_desc(class="form-control form-control-lg
                      is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.short_desc.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.short_desc(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group pl-0 pr-0">
                      <label for="formGroupExampleInput7">Room Size (m2)</label>
                      {{ form.room_size.label(class="form-control-label") }} {%
                      if form.room_size.errors %} {{
                      form.room_size(class="form-control form-control-lg
                      is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.room_size.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.room_size(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group pl-0 pr-3">
                      <label for="formGroupExampleInput8">Max Occupancy</label>
                      {{ form.max_occupancy.label(class="form-control-label") }}
                      {% if form.max_occupancy.errors %} {{
                      form.max_occupancy(class="form-control form-control-lg
                      is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.max_occupancy.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.max_occupancy(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group pl-3 pr-0">
                      <label>Ground Rule 1</label>
                      {{ form.rule1.label(class="form-control-label") }} {% if
                      form.rule1.errors %} {{ form.rule1(class="form-control
                      form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.rule1.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.rule1(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group pl-0 pr-0">
                      <label>Ground Rule 2</label>
                      {{ form.rule2.label(class="form-control-label") }} {% if
                      form.rule2.errors %} {{ form.rule2(class="form-control
                      form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.rule2.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.rule2(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group pl-0 pr-3">
                      <label>Ground Rule 3</label>
                      {{ form.rule3.label(class="form-control-label") }} {% if
                      form.rule3.errors %} {{ form.rule3(class="form-control
                      form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.rule3.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                      {% else %} {{ form.rule3(class="form-control
                      form-control-lg") }} {% endif %}
                    </div>
                  </div>
                </div>
                <div class="form-group pl-3 pr-3">
                  <label for="exampleFormControlTextarea1">Description</label>
                  {{ form.description.label(class="form-control-label lh-sm") }}
                  {% if form.description.errors %} {{
                  form.description(class="form-control form-control-lg
                  is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.description(class="form-control
                  form-control-lg") }} {% endif %}
                </div>
                <!-------------MULTI-CHECKBOX------------------------------------------------>
                <!-- <div class="pl-3 text-center">
                  <small> Select room services:</small>
                </div> -->

                <div>
                  {% for subfield in form.resto %}
                  <tr>
                    <td class="pl-3 pt-0 pb-0">{{ subfield.label }}</td>
                    <td class="pt-0 pr-5 pb-0">{{ subfield }}</td>
                  </tr>
                  {% endfor %}
                </div>
                <!------------------->

                <!--FILES UPLOAD------------------------------------------------>

                <!--END FORM FIELD-->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button>{{ form.submit(class="btn btn-info") }}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!---SECOND MODAL------------------------------------->

        <!---------------------------------------------------->

        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th><i class="fa fa-plus" style="font-size: 20px"></i> Add</th>
                <th>Title</th>
                <th>Location</th>
                <th>Category</th>
                <th>Status</th>
                <th>Price</th>
                <th>Action</th>
              </thead>
              {% for roo in roomlist %}
              <tbody>
                <tr>
                  <td>
                    <a
                      href="{{ url_for('rooms.update_roompics', room_id=roo.id)}}"
                      class="dropdown-item pt-0 mt-0"
                      ><img
                        class="rounded-circle article-img zoomer"
                        src="{{ url_for('static', filename='/userpics/roompics/'+ roo.image1 ) }}"
                        width="40"
                        height="40"
                      />
                    </a>
                  </td>
                  <td>{{ roo.room_name }}</td>
                  <td>{{ roo.room_location }}</td>
                  <td>{{ roo.room_category }}</td>
                  <td>{{ roo.status }}</td>
                  <td class="text-right">£ {{ roo.price }}</td>
                  <td class="text-right">
                    <!-- Example single danger button -->
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-primary btn-sm dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Action
                      </button>
                      <div class="dropdown-menu">
                        <!-- <a class="dropdown-item pt-0 mt-0" href="#">View</a> -->
                        <a
                          href="{{ url_for('rooms.roomextra', room_id=roo.id)}}"
                          class="dropdown-item pt-0 mt-0"
                          >Add amenities</a
                        >
                        <a
                          href="{{ url_for('rooms.roomdetail', room_id=roo.id)}}"
                          class="dropdown-item pt-0 mt-0"
                          >View room</a
                        >
                        <a
                          href="{{ url_for('rooms.update_room', room_id=roo.id)}}"
                          class="dropdown-item pt-0 mt-0"
                          href="#"
                          >Update listing</a
                        >
                        <a
                          href="{{ url_for('rooms.delete_room', room_id=roo.id)}}"
                          class="dropdown-item pt-0 mt-0"
                          href="#"
                          >Delete listing</a
                        >
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
