{% extends "acclayout.html" %} {% block head_css %} {{ super() }} {% endblock
head_css %} {% block content %}

<div class="panel-header panel-header-sm"></div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><b>My Reviews</b></h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
                <th>Date</th>
                <th>Review Msg</th>
                <th>Room</th>
                <th>Located</th>
                <th class="text-right">Rating</th>
              </thead>
              {% for rev in myrevs %}
              <tbody>
                <tr>
                  <td>{{ rev.date_posted.strftime('%d %B %Y') }}</td>
                  <td>{{ rev.message }}</td>
                  <td>{{ rev.rooms.room_name }}</td>
                  <td>{{ rev.rooms.room_location }}</td>
                  <td class="text-right">{{ rev.rate_us }}</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
