<!-- End Navbar -->
{% extends "acclayout.html" %} {% block head_css %} {{ super() }} {% endblock
head_css %} {% block content %}
<div class="panel-header panel-header-sm"></div>
<div class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Company</label>
                  <!-- <input
                    type="text"
                    class="form-control"
                    placeholder="Company"
                    value="Rezerva.com"
                  /> -->
                  {{ form.company_name.label(class="form-control-label") }} {% if
                  form.company_name.errors %} {{ form.company_name(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.company_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.company_name(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>Username</label>
                  {{ form.username.label(class="form-control-label") }} {% if
                  form.username.errors %} {{ form.username(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.username(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  {{ form.email.label(class="form-control-label") }} {% if
                  form.email.errors %} {{ form.email(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>First Name</label>
                  {{ form.first_name.label(class="form-control-label") }} {% if
                  form.first_name.errors %} {{ form.first_name(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.first_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.first_name(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Last Name</label>
                  {{ form.last_name.label(class="form-control-label") }} {% if
                  form.last_name.errors %} {{ form.last_name(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.last_name(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Gender</label>
                  {{ form.gender.label(class="form-control-label") }} {% if
                  form.gender.errors %} {{ form.gender(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.gender.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.gender(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Phone Number</label>
                  {{ form.gender.label(class="form-control-label") }} {% if
                  form.gender.errors %} {{ form.gender(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.gender.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.gender(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address</label>
                  {{ form.address.label(class="form-control-label") }} {% if
                  form.address.errors %} {{ form.address(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.address.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.address(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>City</label>
                  {{ form.city.label(class="form-control-label") }} {% if
                  form.city.errors %} {{ form.city(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.city(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  {{ form.country.label(class="form-control-label") }} {% if
                  form.country.errors %} {{ form.country(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.country.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.country(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  {{ form.zip_code.label(class="form-control-label") }} {% if
                  form.zip_code.errors %} {{ form.zip_code(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.zip_code.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.zip_code(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  {{ form.aboutme.label(class="form-control-label") }} {% if
                  form.aboutme.errors %} {{ form.aboutme(class="form-control
                  form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                    {% for error in form.aboutme.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                  {% else %} {{ form.aboutme(class="form-control form-control-lg") }}
                  {% endif %}
                </div>
              </div>
            </div>
            
            <div class="mb-3">
              <!-- <label>Upload picture</label> -->
              {{ form.picture.label(for="formFile") }}
              {{ form.picture(class="form-control-file") }}
              {% if form.picture.errors %}
                  {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                  {% endfor %}
              {% endif %}
            </div>
            <div class="form-group text-right fw-bold">
               {{form.submit(class="btn btn-info")}}
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img
            src="{{ url_for('static', filename='udash/assets/img/bg5.jpg')}}"
            alt="..."
          />
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img
                class="avatar border-gray rounded-circle"
                src="{{ url_for('static', filename='userpics/default.jpg')}}"
                alt="..."
              />
              <h5 class="title">{{ current_user.first_name }} {{ current_user.last_name }}</h5>
            </a>
            <p class="description"><b>Username:</b> {{ current_user.username }}</p>
          </div>
          <p class="description text-center">
            Our place is a safer,<br />
            welcoming and affordable <br />
            place to stay. 100% satisfaction.
          </p>
        </div>
        <hr />
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
